/*
0-600px Phone
600 - 900px Tablet portrait
900 - 1200px Tabelt landscape
1200 - 1800px is where our normal style apply
1800px + big screen
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0rem; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    opacity: 0;
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    opacity: 0;
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 300;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 3.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #58cced, #072f5f);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--white {
    font-size: 3.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, white, #58cced);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s; }
    @media (max-width: 56.25em) {
      .heading-secondary--white {
        font-size: 3rem; } }
    .heading-secondary--white:hover {
      transform: skewY(2deg) skewX(15deg);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary--blue {
    color: #3895d3; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph__list {
    text-decoration: none; }
  .paragraph--highlight {
    font-weight: 400;
    color: #58cced; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #3895d3;
  color: #fff; }
  .btn--blue::after {
    background-color: #3895d3; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #3895d3;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3895d3;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #3895d3;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.3;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 50%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #3895d3;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  position: relative;
  height: 25rem; }
  @media (max-width: 56.25em) {
    .card {
      height: 35rem; } }
  @media (max-width: 37.5em) {
    .card {
      height: 28rem; } }
  .card__image {
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media (max-width: 56.25em) {
      .card__image {
        height: 35rem; } }
    @media (max-width: 37.5em) {
      .card__image {
        height: 28rem; } }
  .card__overlay {
    text-align: center;
    padding: 5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media (max-width: 56.25em) {
      .card__overlay {
        padding: 8rem 0; } }
    @media (max-width: 37.5em) {
      .card__overlay {
        padding: 6rem 0; } }
    .card__overlay__title {
      color: #072f5f;
      font-size: 2rem;
      font-weight: 700; }
      @media (max-width: 56.25em) {
        .card__overlay__title {
          font-size: 3rem; } }
      @media (max-width: 37.5em) {
        .card__overlay__title {
          font-size: 2.5rem; } }
    .card__overlay__subTitle {
      color: #777;
      font-size: 2rem;
      font-weight: 300;
      width: 50%;
      margin: auto; }
      @media (max-width: 56.25em) {
        .card__overlay__subTitle {
          font-size: 3rem; } }
      @media (max-width: 37.5em) {
        .card__overlay__subTitle {
          font-size: 2.5rem; } }
    .card__overlay__button {
      padding: 1rem;
      font-size: 1.4rem;
      border-radius: 5rem;
      width: 60%;
      margin: 2rem auto;
      background-color: #3895d3;
      color: #fff;
      cursor: pointer; }
      @media (max-width: 56.25em) {
        .card__overlay__button {
          width: 40%;
          padding: 1.2rem;
          font-size: 2rem; } }
      @media (max-width: 37.5em) {
        .card__overlay__button {
          font-size: 1.6rem; } }
  .card:hover .card__overlay {
    opacity: 1; }
    .card:hover .card__overlay__title {
      animation: moveInTop 0.5s ease-out; }
    .card:hover .card__overlay__subTitle {
      animation: moveInTop 0.5s ease-out; }
    .card:hover .card__overlay__button {
      animation: moveInBottom 0.5s ease-out; }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  visibility: hidden;
  opacity: 0; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 75%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s 0.2s; }
    @media (max-width: 56.25em) {
      .popup__content {
        width: 90%; } }
    @media (max-width: 37.5em) {
      .popup__content {
        display: flex;
        flex-wrap: wrap; } }
    .popup__content__scaleUp {
      transform: translate(-50%, -50%) scale(1); }
  .popup__left {
    width: 33.3333333%;
    display: table-cell;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .popup__left {
        width: 100%;
        display: flex;
        flex-wrap: wrap; } }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 37.5em) {
      .popup__right {
        width: 100%;
        display: relative; } }
  .popup__close {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 4rem;
    line-height: 1;
    cursor: pointer; }
    .popup__close:hover {
      color: #3895d3; }
    @media (max-width: 37.5em) {
      .popup__close {
        color: #3895d3; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media (max-width: 37.5em) {
      .popup__img {
        width: 50%;
        height: 100%; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem; }

.header {
  position: relative;
  height: 95vh;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(88, 204, 237, 0.8), rgba(7, 47, 95, 0.8)), url(../img/milkyway.jpg);
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      height: 70vh;
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%); } }
  .header__social-box-1 {
    position: absolute;
    top: 10rem;
    left: 4rem; }
    @media (max-width: 37.5em) {
      .header__social-box-1 {
        display: none; } }
  .header__social-box-2 {
    position: absolute;
    top: 18rem;
    left: 4rem; }
    @media (max-width: 37.5em) {
      .header__social-box-2 {
        display: none; } }
  .header__icon {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 107rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 75em) {
    .row {
      max-width: 90rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 55rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 35rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.footer {
  background-color: #333;
  padding: 9rem 0 5rem;
  font-size: 1.6rem;
  position: relative;
  text-align: center; }
  .footer__social-box-1 {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-150%); }
  .footer__social-box-2 {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(50%); }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh;
  margin-bottom: -25vh; }
  @media (max-width: 56.25em) {
    .section-about {
      margin-bottom: -20vh; } }

.section-projects {
  padding: 20rem 0 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(88, 204, 237, 0.8), rgba(7, 47, 95, 0.8)), url(../img/sky_vertical.jpg);
  background-size: auto;
  clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%); }
  @media (max-width: 56.25em) {
    .section-projects {
      clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
      padding: 15rem 0 15rem 0; } }
  @media (max-width: 37.5em) {
    .section-projects {
      clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
      padding: 15rem 0 15rem 0; } }
