.footer {
  background-color: #333;
  padding: 9rem 0 5rem;
  font-size: 1.6rem;
  position: relative;
  text-align: center;

  &__social-box-1 {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-150%);
  }

  &__social-box-2 {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(50%);
  }
}
