.card {
  position: relative;
  height: 25rem;

  @include respond(tab-port) {
    height: 35rem;
  }

  @include respond(phone) {
    height: 28rem;
  }

  &__image {
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    @include respond(tab-port) {
      height: 35rem;
    }

    @include respond(phone) {
      height: 28rem;
    }
  }

  &__overlay {
    text-align: center;
    padding: 5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

    @include respond(tab-port) {
      padding: 8rem 0;
    }

    @include respond(phone) {
      padding: 6rem 0;
    }

    &__title {
      color: $color-primary-dark;
      font-size: 2rem;
      font-weight: 700;

      @include respond(tab-port) {
        font-size: 3rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    &__subTitle {
      color: $color-grey-dark;
      font-size: 2rem;
      font-weight: 300;
      width: 50%;
      margin: auto;

      @include respond(tab-port) {
        font-size: 3rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    &__button {
      padding: 1rem;
      font-size: 1.4rem;
      border-radius: 5rem;
      width: 60%;
      margin: 2rem auto;
      background-color: $color-primary;
      color: $color-white;
      cursor: pointer;

      @include respond(tab-port) {
        width: 40%;
        padding: 1.2rem;
        font-size: 2rem;
      }

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }

  &:hover &__overlay {
    opacity: 1;

    &__title {
      animation: moveInTop 0.5s ease-out;
    }

    &__subTitle {
      animation: moveInTop 0.5s ease-out;
    }

    &__button {
      animation: moveInBottom 0.5s ease-out;
    }
  }
}
