.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  visibility: hidden;
  opacity: 0;

  &__content {
    @include absCenter;
    position: relative;
    width: 75%;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s 0.2s;

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      display: flex;
      flex-wrap: wrap;
    }

    &__scaleUp {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__left {
    width: 33.3333333%;
    display: table-cell;
    overflow: hidden;

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(phone) {
      width: 100%;
      display: relative;
    }
  }

  &__close {
    color: $color-grey-dark;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 4rem;
    line-height: 1;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(phone) {
      width: 50%;
      height: 100%;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }
}
