.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
  margin-bottom: -25vh;

  @include respond(tab-port) {
    margin-bottom: -20vh;
  }
}

.section-projects {
  padding: 20rem 0 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/sky_vertical.jpg);
  background-size: auto;

  clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);

  @include respond(tab-port) {
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding: 15rem 0 15rem 0;
  }
}
